@{
    ViewData["Title"] = "Evenementen";
}
@model IEnumerable<Evenementenplein.ViewModels.EvenementenViewModel>

en@{
    <div class="text-center">
        <h1 class="display-4">Evenementen</h1>
    </div>

}
<h2>Evenementen</h2>
<ul>
@foreach (var item in Model)
{
        <li>Naam</li>
        <li>@item.Naam</li>
        <li>LocatieNaam</li>
        <li>@item.LocatieNaam</li>
        <li>LocatieAdres</li>
        <li>@item.LocatieAdres</li>
        <li>Type</li>
        <li>@item.Type</li>
        <li>BeginDatum</li>
        <li>@item.BeginDatum</li>
        <li>EindDatum</li>
        <li>@item.EindDatum</li>
}</ul>
